@model Anime_Portal.Models.LoginViewModel

<div class="form-box" id="login-box">
    <div class="header">Sign In</div>
   @using (Html.BeginForm("Login", "Account")) { 


    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(m => m.UserName, new { @class = "col-lg-3 control-label" })
        <div class="col-lg-8">
            @Html.TextBoxFor(m => m.UserName, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.UserName, "", new { @class = "text-danger" })
        </div>
    </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.Password, new { @class = "col-lg-3 control-label" })
                            <div class="col-lg-8">
                                @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                                @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                            </div>
                        </div>

        <div class="footer">
            <button type="submit" class="btn bg-olive btn-block">Sign me in</button>

            <p><a href="#">I forgot my password</a></p>

            <a href="register.html" class="text-center">Register a new membership</a>
        </div>
   }

    <div class="margin text-center">
        <span>Sign in using social networks</span>
        <br>
        <button class="btn bg-light-blue btn-circle"><i class="fa fa-facebook"></i></button>
        <button class="btn bg-aqua btn-circle"><i class="fa fa-twitter"></i></button>
        <button class="btn bg-red btn-circle"><i class="fa fa-google-plus"></i></button>

    </div>
</div>

                   

                        <div class="form-group">
                            <div class="col-lg-offset-2 col-lg-10">
                                <button type="submit" value="Log in" class="btn btn-primary">Bejelentkezés</button>
                                <a href="#"><img src="~/img/unnamed.png" /></a>
                                <a href="#"><img src="~/img/Google_Plus20logo.png" /></a>
                            </div>
                        </div>
                    }
                    </section>
                    </section>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}